@use '/styles/variables' as *;
@use '/styles/background' as *;

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    max-height: 80px;
    width: 100%;
    padding: 5px 5%;
}

.nav_field{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.bg{
    background-color: transparent;
    transition: .15s background-color ease;
    &.affix{
        @include background-color;
    }
}